<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="data-spm" content="181.000000x"/><!--每个页面都必须申请SPM 的 B 点-->
	<title> <%= projectName %> - <%= modName %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"  />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!--Global StyleSheets-->
    <link rel="stylesheet" href="../../widgets/mpi_css/mpi.css" />
    <!--Page StyleSheets-->
    <link rel="stylesheet" href="./index.css"/>
    <!--Global JavaScripts-->
    <script type="text/javascript" src="../../widgets/m/build/mini-full.js"></script>
    <script type="text/javascript" src="../../widgets/m/build/base.js"></script>
    <script type="text/javascript" src="../../widgets/m/build/juicer.js"></script>
    <script type="text/javascript" src="../../widgets/m/build/ua.js"></script>
    <script type="text/javascript" src="../../widgets/m/build/touch.js"></script>
    <script type="text/javascript" src="../../widgets/m/build/anim.js"></script>
    <script type="text/javascript" src="../../widgets/m/build/lang.js"></script>
    <script type="text/javascript" src="../../widgets/jsbridge/index.js"></script>
    <script type="text/javascript" src="../../config.js"></script>
    <script type="text/javascript" src="../../map.js"></script>
</head>
<body>

<!--正文开始-->

<!--引用TMS的例子-->
<!--HTTP:http://trip.taobao.com/go/rgn/trip/act-818-preferential.php,gbk:HTTP-->
<!--JUICER 翻译成 TMS 语法例子-->
<!--#include virtual="./mock.tms.html" -->

<script type="text/javascript">
    KISSY.use('<%= packageName %>/<%= mojoName %>/index', function(S, <%= modName %>) {
        new <%= modName %>();
    });
</script>

</body>
</html>

<!--
	样式代码参照DPL：
	http://groups.alidemo.cn/trip/h5-ui-component/pages/template/css.html
	文档
	http://groups.alidemo.cn/trip/h5-ui-component/
-->

<!--
	TMS引用说明参照：
	http://gitlab.alibaba-inc.com/mpi/tms-offline-parser/tree/master
-->
